<html>

<head>
	<script src="/lib/jquery/dist/jquery.min.js"></script>
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
	<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container-fluid border">
		<div style="background-color:deepskyblue; color:black;"> <b>Navbar</b> </div>
	</div>
	<div class="container border">
		@RenderBody()
	</div>

	<div class="container-fluid ">
		Footer
	</div>
</body>

</html>